
.img-carousel{
    object-fit: contain;
    height: 500px;
}

.container{
    width: 300px;
    height: 700px;

}
.troisd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*-----------------*/
.traditionnel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


